/* Fondo negro y altura completa para toda la app */
body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
}

.App-logo {
  height: 150px;
  animation: App-logo-spin infinite 20s linear;
  display: block;
  margin: 0 auto 20px auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Para el formulario en login */
form {
  max-width: 300px;
  margin: auto;
}

/* Animación de giro para el logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


